@import "colors";
@import "animations";

/* Add the following media query at the beginning of your CSS file */
@media (prefers-reduced-motion: no-preference) {
    /* Move all the animation-related properties inside this block */
    .scene1 {
      p {
        animation: fade-in 2s 3.5s ease-in forwards;
      }
    }
  
    .scene1__img {
      &--logo {
        animation: grow 2s forwards, move-up 4s forwards;
      }
  
      &--car {
        animation: right-left 3s ease-in 4s 1 forwards;
      }
    }
  
    .scene4__img {
      &--person1 {
        animation-delay: 6s;
      }
  
      &--person2 {
        animation-delay: 6.4s;
      }
  
      &--car {
        animation: left-right-desktop3 6s ease-in-out 10s 1 forwards;
      }
    }
  
    .scene6__img {
      &--houses {
        animation: fade-in 1s 3.5s forwards, shake 2s ease-in 6.5s forwards;
      }
    }
  
    .scene6__svg {
      &--heart {
        animation: fade-in 2s 9.5s forwards, beat 1s ease infinite;
      }
    }
  
    .scene7__img {
      &--logo {
        animation: grow 5s forwards, alt-move 3s forwards;
      }
    }
  
    .scene7 p {
      animation: fade-in 2s;
    }
  }
  
  /* Rest of your CSS code remains unchanged */
  