@import "colors";

@keyframes right-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1700px);
    }
}

@keyframes moveclouds2 {
    0% {
        left: -5%;
    }

    100% {
        left: 20%;
    }
}

@keyframes moveclouds {
    0% {
        left: 100%;
    }

    100% {
        left: -50%;
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    10% {
        transform: translate(-5px, -5px) rotate(-5deg);
    }

    20% {
        transform: translate(5px, -5px) rotate(5deg);
    }

    30% {
        transform: translate(-5px, -5px) rotate(-5deg);
    }

    40% {
        transform: translate(5px, -5px) rotate(5deg);
    }

    50% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    60% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    70% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    80% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    90% {
        transform: translate(-5px, -5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes center-right {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(900px);
    }
}

@keyframes bgChange {
    0% {
        background: $orange;
    }

    100% {
        background: $sky;
    }
}

@keyframes sunRising {
    0% {
        top: 90%;
        left: -10%;
    }

    100% {
        top: 5%;
        left: 50%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        animation-timing-function: ease-in;
    }

    50% {
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hidden-visible {
    to {
        visibility: visible;
    }
}


@keyframes left-right {
    0% {
        transform: translateX(0px);
    }

    30% {
        transform: translateX(890px);
    }

    70% {
        transform: translateX(890px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes left-right-desktop {
    0% {
        transform: translateX(0px);
    }

    30% {
        transform: translateX(750px);
    }

    70% {
        transform: translateX(750px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes walking1 {

    0% {
        transform: translateY(0) translateX(0);
    }

    10% {
        transform: translateY(15px) translateX(90px);
    }

    20% {
        transform: translateY(0) translateX(180px);
    }

    30% {
        transform: translateY(15px) translateX(270px);
    }

    40% {
        transform: translateY(0) translateX(360px);
    }

    50% {
        transform: translateY(15px) translateX(450px);
    }

    60% {
        transform: translateY(0) translateX(540px);
    }

    70% {
        transform: translateY(15px) translateX(630px);
    }

    80% {
        transform: translateY(0) translateX(720px);
    }

    89% {
        transform: translateY(15px) translateX(810px);
    }

    100% {
        transform: translateY(0) translateX(900px);
    }
}

@keyframes grow {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 390px;
        height: 390px;
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-180px);
    }
}

@keyframes move-down {
    from {
        transform: translateY(0) scale(0);
    }

    to {
        transform: translateY(537px) scale(1);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rightstopleft {
    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-580px)
    }

    60% {
        transform: translateX(-580px)
    }

    100% {
        transform: translateX(-1000px);
    }
}

@keyframes rightstopleft-desktop {
    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-1380px)
    }

    60% {
        transform: translateX(-1380px)
    }

    100% {

        transform: translateX(-2500px);
    }
}

@keyframes beat {

    0%,
    50%,
    100% {
        transform: scale(1, 1);
    }

    30%,
    80% {
        transform: scale(0.92, 0.95);
    }
}