// Example of colors in scss:
$darkJungleGreen: #1c2321;
$pewterBlue: #7d98a1;
$blackCoral: #5e6572;
$cadetBlueCrayola: #a9b4c2;
$cultured: #eef1ef;
$white: #ffff;

$colors: (darkJungleGreen: #1c2321,
    pewterBlue: #7d98a1,
    blackCoral: #5e6572,
    cadetBlueCrayola: #a9b4c2,
    cultured: #eef1ef);

$theme: (primary: $darkJungleGreen,
    primary-light: lighten($darkJungleGreen, 80%),
    primary-dark: darken($darkJungleGreen, 80%),
    secondary: $pewterBlue,
    accent: $blackCoral,
    text: $cadetBlueCrayola,
    button: $cultured,
);

:root {
    --purple: #C6FD03;
    --blackCoral: #{$blackCoral};
}