@media only screen and (min-width: 400px) {
 /* .scene4__img--car {
    bottom: 90px;
  }

  .scene4__img--car--animation {
    animation: left-right-desktop 6s ease-in-out 10s 1 forwards;
  }

  .scene6__img--bigcar {
    position: relative;
    left: 1500px;
    top: 60px;
  }

  .scene6__img--bigcar--animation {
    animation: rightstopleft-desktop 7s;
  }

  .scene6__img--houses {
    position: relative;
    left: 800px;
    width: 300px;
  }

  .scene6__img--houses--animation {
    animation: fade-in 1s 3.5s forwards, shake 2s ease-in 6.5s forwards;
  }

  .scene6__svg--heart {
    bottom: 200px;
    right: 400px;
    width: 50px;
  }

  .scene6__svg--heart--animation {
    animation: fade-in 2s 9.5s forwards, beat 1s ease infinite;
  }
  */
  .story6 {
    position: absolute;
    // left:  576px;
    left: 600px;
  }

}
