@import "colors";
@import "fonts";

.story {
  width: 450px;
  font-family: $primary-font;
  color: $white;
  font-size: 32px;
  text-align: center;
}

.story {
  p {
    position: relative;
    left: 80px;
    width: 300px;
  }
}

.story2 {
  p {
    position: relative;
    top: 50px;
  }
}

.story3 {
  p {
    z-index: 4;
  }
}

.story4 {
  p {
    position: relative;
    top: 320px;
    color: $black;
  }
}

.story5 {
  p {
    position: relative;
    top: 400px;
    color: $black;
  }
}

.story6 {
  position: relative;
  right: 30px;

  p {
    position: relative;
    top: 50px;
    padding-bottom: 10px;
    font-size: 30px;
  }
}