@import "_reset";
@import "_colors";
@import "_fonts";
@import "_dark-mode";
@import "_animations";
@import "_intersection";
@import "_story";

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $sky;
}

.scene {
  width: 100vw;
  height: 844px;
  background-color: $orange;
}

.scene1,
.scene2,
.scene3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scene1,
.scene2,
.scene3 {
  justify-content: center;
}

.scene1 {
  p {
    color: $white;
    font-size: 32px;
    width: 300px;
    text-align: center;
    position: relative;
    bottom: 100px;
    opacity: 0;
    animation: fade-in 2s 3.5s ease-in forwards;
  }

  &__img {
    &--logo {
      margin-top: 180px;
      width: 0;
      height: 0;
      animation: grow 2s forwards, move-up 4s forwards;
    }

    &--car {
      width: 100px;
      position: relative;
      right: -800px;
      animation: right-left 3s ease-in 4s 1 forwards;
      overflow: hidden;
    }
  }
}

.ground {
  &--line {
    background-color: $white;
    height: 5px;
    width: 100%;
  }
}

.scene2 {
  justify-content: flex-start;

  &__img {
    &--cloud {
      height: 300px;
      margin-top: 50px;
      position: relative;
      z-index: 2;
    }
  }

  &__buildings {
    position: relative;
    left: 60px;
    bottom: 600px;
    z-index: 1;
    opacity: 0;

    &__img {
      &--small {
        width: 40px;
      }

      &--tall {
        width: 60px;
        margin-left: 20px;
      }
    }
  }
}

.scene3 {
  &__shake {
    position: relative;
    overflow: hidden;
    top: 160px;

    &__img {
      &--small {
        width: 60px;
        padding-top: 92px;
      }

      &--tall {
        width: 100px;
        margin-left: 20px;
      }
    }
  }
}

.scene4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    &--sun {
      background: $sun;
      box-shadow: 0px 0px 30px 15px $sun;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: relative;
      left: 200px;
    }

    &--cloud {
      width: 200px;
      height: 60px;
      background: #FFF;
      bottom: 200px;
      position: relative;
      border-radius: 200px;

      &:before,
      &:after {
        content: "";
        background: #FFF;
        position: absolute;
        width: 100px;
        height: 80px;
        top: -15px;
        left: 10px;
        border-radius: 100px;
        transform: rotate(30deg);
      }

      &:after {
        width: 120px;
        height: 120px;
        top: -55px;
        left: auto;
        right: 15px;
      }
    }
  }
}

.scene4 {
  &__img {
    &--table {
      width: 150px;
      position: relative;
      top: 310px;
      left: 40px;
      z-index: 1;
    }
  }

  &__food {
    position: relative;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
  }

  &__img {
    &--sandwitch {
      width: 70px;

      &:nth-child(1) {
        position: relative;
        left: 120px;
        top: 190px;
      }

      &:nth-child(2) {
        position: relative;
        top: 165px;
        left: 60px;
      }

      &:nth-child(3) {
        position: relative;
        right: 20px;
        top: 145px;
      }
    }

    &--waterbottle {
      width: 30px;
      z-index: 2;

      &:nth-child(1) {
        position: relative;
        left: 50px;
        top: 120px;
      }

      &:nth-child(2) {
        position: relative;
        top: 120px;
        left: 60px;
      }

      &:nth-child(3) {
        position: relative;
        top: 135px;
        left: 10px;
      }
    }
  }
}

.scene4 {
  &__img {
    &--person1 {
      position: relative;
      top: 100px;
      animation-delay: 6s;
      z-index: 3;
      left: -650px;
      width: 80px;
    }

    &--person2 {
      position: relative;
      top: 80px;
      animation-delay: 6.4s;
      z-index: 2;
      left: -785px;
      width: 80px;
    }

    &--car {
      position: relative;
      width: 300px;
      left: -1000px;
      bottom: 100px;
      z-index: 3;
    }
  }
}


.scene5__ground--line {
  position: relative;
  bottom: 150px;
  height: 200px;
  width: 100%;
  background-color: $orange;
}

.scene5 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: $sky;
  width: 100vw;
  height: 844px;
}

.scene5__clouds {
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scene5__img--cloud {
  width: 350px;
  position: relative;
  top: 200px;
  right: 40px;
  z-index: 3;
}

.scene5__img--other--cloud {
  width: 350px;
  position: relative;
  top: 180px;
  right: 170px;
  z-index: 3;
}

.scene5__img--tent {
  position: relative;
  z-index: 2;
  width: 230px;
  right: 170px;
  bottom: 20px;
}

.scene5__img--red--cross--person {
  width: 60px;
  position: relative;
  z-index: 2;
  right: 70px;
  bottom: 100px;
}

.scene5__img--table {
  width: 110px;
  position: relative;
  z-index: 2;
  top: 350px;
  left: 20px;
}

.scene5__sandwiches {
  position: relative;
  width: 80px;
  bottom: 140px;
  left: 20px;
  z-index: 2;
}

.scene5__sandwiches .scene5__img--sandwich {
  width: 50px;
}

.scene5__bottles {
  position: relative;
  width: 50px;
  height: 0;
  bottom: 320px;
  left: 48px;
  z-index: 2;
}

.scene5__bottles .scene5__img--bottles {
  width: 17px;
}

.scene5__img--person {
  width: 58px;
  position: relative;
  z-index: 2;
  left: 110px;
  top: 250px;
}

.scene5__img--other--person {
  width: 58px;
  position: relative;
  z-index: 2;
  left: 170px;
  top: 150px;
}

.scene5__div--ground {
  background-color: $orange;
  width: 100vw;
  height: 100px;
  z-index: 1;
}

.scene5__ground {
  display: flex;
  align-items: flex-end;
  height: 0;
}

.scene6 {
  &__img {
    &--bigcar {
      width: 348px;
      position: relative;
      left: 600px;
      top: 370px;
      z-index: 2;
    }

    &--houses {
      width: 300px;
      top: 200px;
      position: relative;
      z-index: 1;
      left: 45px;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__svg {
    &--heart {
      fill: $red;
      position: relative;
      top: 10px;
      left: 170px;
      width: 50px;
      z-index: 3;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.scene7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $orange;
  color: $white;
  font-family: $primary-font;

  &__img {
    &--logo {
      width: 400px;
      width: 0;
      height: 0;
      animation: grow 5s forwards, alt-move 3s forwards;
    }
  }

  p {
    margin-bottom: 100px;
    color: $white;
    font-size: 32px;
    width: 300px;
    text-align: center;
    position: relative;
    animation: fade-in 2s;
  }
}



@media only screen and (min-width: 400px) {
  .scene4__img--car {
    bottom: 90px;
  }

  .scene4__img--car {
    animation: left-right-desktop3 6s ease-in-out 10s 1 forwards;
  }

  .scene6__img--bigcar {
    position: relative;
    left: 150px;
    top: 240px;
  }

  .scene6__img--bigcar--animation {
    animation: left-right-desktop2 5s ease-in-out 1 forwards;
  }

  .scene6__img--houses {
    position: relative;
    left: 200px;
    width: 300px;
  }

  .scene6__img--houses--animation {
    animation: fade-in 1s 3.5s forwards, shake 2s ease-in 6.5s forwards;
  }

  .scene6__svg--heart {
    bottom: 200px;
    left: 670px;
    width: 50px;
  }

  .scene6__svg--heart--animation {
    animation: fade-in 2s 9.5s forwards, beat 1s ease infinite;
  }

  .story6 {
    position: absolute;
    left: 800px;
  }

  .story6 p {
    top: 0;
  }

}