* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scene:nth-child(1) {
  background-color: #f99d25;
  width: 100vw;
  height: 844px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.article__img--logo {
  margin-top: 180px;
  width: 0;
  height: 0;
  animation-name: grow, move-up;
  animation-duration: 2s, 4s;
  animation-fill-mode: forwards;
}

.scene:nth-child(1) p {
  color: white;
  font-size: 32px;
  width: 300px;
  text-align: center;
  position: relative;
  bottom: 100px;
  animation-name: fadeIn;
  animation-duration: 7s;
}

.article__img--car {
  width: 100px;
  animation: right-left 3s ease-in 4s 1 forwards;
  position: relative;
  right: -300px;
}

.scene:nth-child(2) {
  background-color: #f99d25;
  width: 100vw;
  height: 844px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.article__img--cloud {
  height: 300px;
  margin-top: 50px;
  position: relative;
  z-index: 2;

}

.buildings {
  position: relative;
  left: 160px;
  bottom: 210px;
  z-index: 1;

}

.article__img--small--building {
  width: 40px;
  animation-name: move-down;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.article__img--tall--building {
  width: 60px;
  margin-left: 20px;
  animation-name: move-down-grow;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes right-left {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-800px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    width: 390px;
    height: 390px;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-180px);
  }
}

@keyframes move-down-grow {
  from {
    transform: translateY(0) scale(0);
  }

  to {
    transform: translateY(537px) scale(1);
  }
}