@import "colors"

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scene {
  width: 100vw;
  height: 844px;
}

.scene:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.scene:nth-child(1),
.scene:nth-child(4) {
  background-color: $orange;
}

.scene:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.shake {
  position: relative;
  animation: shake, center-right;
  animation-duration: 2s, 1s;
  animation-delay: 0s, 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: forwards;

}

.animation {
  animation-name: center-right;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-direction: forwards;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  10% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }

  20% {
    transform: translate(5px, -5px) rotate(5deg);
  }

  30% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }

  40% {
    transform: translate(5px, -5px) rotate(5deg);
  }

  50% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  60% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  70% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  80% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  90% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes center-right {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(800px);
  }
}

.article__img--tall--shake {
  width: 100px;
  margin-left: 20px;
}

.article__img--small--shake {
  width: 60px;
  padding-top: 92px;
}


.article__img--tall--shake {
  width: 100px;
}


.ground {
  background-color: $white;
  height: 5px;
  width: 100%;
}

.article__img--logo {
  margin-top: 180px;
  width: 0;
  height: 0;
  animation-name: grow, move-up;
  animation-duration: 2s, 4s;
  animation-fill-mode: forwards;
}

.scene:nth-child(1) p {
  color: $white;
  font-size: 32px;
  width: 300px;
  text-align: center;
  position: relative;
  bottom: 100px;
  animation-name: fadeIn;
  animation-duration: 7s;
}

.article__img--car {
  width: 100px;
  animation: right-left 3s ease-in 4s 1 forwards;
  position: relative;
  right: -300px;
}

.scene:nth-child(2) {
  background-color: $orange;
  width: 100vw;
  height: 844px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.article__img--cloud {
  height: 300px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.buildings {
  position: relative;
  left: 160px;
  bottom: 210px;
  z-index: 1;
}

.article__img--small--building {
  width: 40px;
  animation-name: move-down;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.article__img--tall--building {
  width: 60px;
  margin-left: 20px;
  animation-name: move-down;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes right-left {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-800px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    width: 390px;
    height: 390px;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-180px);
  }
}

@keyframes move-down {
  from {
    transform: translateY(0) scale(0);
  }

  to {
    transform: translateY(537px) scale(1);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes walking {
  0% {
    transform: translate(0, 0) translateX(0);
  }

  10% {
    transform: translate(0, 15px) translateX(40px);
  }

  20% {
    transform: translate(0, 0) translateX(80px);
  }

  30% {
    transform: translate(0, 15px) translateX(120px);
  }

  40% {
    transform: translate(0, 0) translateX(160px);
  }

  50% {
    transform: translate(0, 15px) translateX(200px);
  }

  60% {
    transform: translate(0, 0) translateX(240px);
  }

  70% {
    transform: translate(0, 15px) translateX(280px);
  }

  80% {
    transform: translate(0, 0) translateX(320px);
  }

  9% {
    transform: translate(0, 15px) translateX(360px);
  }

  100% {
    transform: translate(0, 0) translateX(400px);
  }

}

/*# sourceMappingURL=styles.css.map */