* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveclouds {
  0% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  20% {
    transform: translate(5px, -5px) rotate(5deg);
  }
  30% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  40% {
    transform: translate(5px, -5px) rotate(5deg);
  }
  50% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  60% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  70% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  80% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  90% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes center-right {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(800px);
  }
}
@keyframes bgChange {
  0% {
    background: #F99D25;
  }

  50% {
    background: lightblue;
  }

  100% {
    background: #FFF;
  }
}

@keyframes sunRising {
  0% {
    top: 70%;
    left: -10%;
  }

  25% {
    top: 30%;
    left: 25%;
  }

  50% {
    top: 5%;
    left: 50%;
  }

  75% {
    top: 30%;
    left: 75%;
  }

  100% {
    top: 70%;
    left: 110%;
  }
}

/* Sun animation */
@keyframes pulse {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }

  50% {
    transform: scale(1.2);
    animation-timing-function: ease-out;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hidden-visible {
  to {
    visibility: visible;
  }
}

@keyframes jump {
  0% {
    top: 0px;
  }

  /* start position */
  30% {
    top: 500px;
  }

  /* jump up */
  60% {
    top: 500px;
  }

  /* hang in the air */
  100% {
    top: 450px;
  }

  /* land on the viewport */
}
@keyframes left-right {
  0% {
    transform: translateX(0px);
  }

  30% {
    transform: translateX(200px);
  }

  70% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes walking {
  0% {
    transform: translate(0, 0) translateX(0px);
  }

  10% {
    transform: translate(0, 15px) translateX(20px);
  }

  20% {
    transform: translate(0, 0) translateX(40px);
  }

  30% {
    transform: translate(0, 15px) translateX(60px);
  }

  40% {
    transform: translate(0, 0) translateX(80px);
  }

  50% {
    transform: translate(0, 15px) translateX(100px);
  }

  60% {
    transform: translate(0, 0) translateX(120px);
  }

  70% {
    transform: translate(0, 15px) translateX(140px);
  }

  80% {
    transform: translate(0, 0) translateX(160px);
  }

  90% {
    transform: translate(0, 15px) translateX(180px);
  }

  100% {
    transform: translate(0, 0) translateX(200px);
  }
}

@keyframes right-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-800px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes grow {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 390px;
    height: 390px;
  }
}
@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-180px);
  }
}
@keyframes move-down {
  from {
    transform: translateY(0) scale(0);
  }
  to {
    transform: translateY(537px) scale(1);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes walking {
  0% {
    transform: translate(0, 0) translateX(0);
  }

  10% {
    transform: translate(0, 15px) translateX(40px);
  }

  20% {
    transform: translate(0, 0) translateX(80px);
  }

  30% {
    transform: translate(0, 15px) translateX(120px);
  }

  40% {
    transform: translate(0, 0) translateX(160px);
  }

  50% {
    transform: translate(0, 15px) translateX(200px);
  }

  60% {
    transform: translate(0, 0) translateX(240px);
  }

  70% {
    transform: translate(0, 15px) translateX(280px);
  }

  80% {
    transform: translate(0, 0) translateX(320px);
  }

  9% {
    transform: translate(0, 15px) translateX(360px);
  }

  100% {
    transform: translate(0, 0) translateX(400px);
  }
}
.scene {
  width: 100vw;
  height: 844px;
}

.scene:nth-child(1), .scene:nth-child(4), .scene:nth-child(6) {
  background-color: #F99D25;
}
.scene:nth-child(1), .scene:nth-child(2), .scene:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scene:nth-child(1), .scene:nth-child(2) {
  justify-content: center;
}
.scene:nth-child(4), .scene:nth-child(6) {
  justify-content: end;
}

.scene:nth-child(1) p {
  color: #FFF;
  font-size: 32px;
  width: 300px;
  text-align: center;
  position: relative;
  bottom: 100px;
  animation: fadeIn 7s;
}
.scene:nth-child(1) .scene__img--logo {
  margin-top: 180px;
  width: 0;
  height: 0;
  animation: grow 2s forwards, move-up 4s forwards;
}
.scene:nth-child(1) .scene__img--car {
  width: 100px;
  position: relative;
  right: -300px;
  animation: right-left 3s ease-in 4s 1 forwards;
}
.scene:nth-child(1) .scene__shake {
  position: relative;
  animation: shake 2s ease-in 1 forwards, center-right 1s 3s ease-in 1 forwards;
}
.scene:nth-child(1) .animation {
  animation: center-right 3s 4s ease-in 1 forwards;
}
.scene:nth-child(1) .ground--line {
  background-color: #FFF;
  height: 5px;
  width: 100%;
}
.scene:nth-child(1) .scene__shake__img--small {
  width: 60px;
  padding-top: 92px;
}
.scene:nth-child(1) .scene__shake__img--tall {
  width: 100px;
  margin-left: 20px;
}

.scene:nth-child(2) {
  background-color: #F99D25;
  justify-content: flex-start;
}
.scene:nth-child(2) .scene__img--cloud {
  height: 300px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}
.scene:nth-child(2) .scene__buildings {
  position: relative;
  left: 160px;
  bottom: 210px;
  z-index: 1;
}
.scene:nth-child(2) .scene__building__img--small,
.scene:nth-child(2) .scene__building__img--tall {
  animation: move-down 3s ease-in forwards;
}
.scene:nth-child(2) .scene__building__img--small {
  width: 40px;
}
.scene:nth-child(2) .scene__building__img--tall {
  width: 60px;
  margin-left: 20px;
}

/* Scene 6 */
.scene:nth-child(6) {
  animation: bgChange 20s 1;
}
.scene:nth-child(6) .scene__img--sun {
  background: #FFF054;
  box-shadow: 0px 0px 30px 15px #FFF054;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 200px;
  top: 200px;
  animation: pulse 2s infinite, sunRising 20s 1 forwards;
  transition: background-color 5s;
}
.scene:nth-child(6) .scene__img--cloud {
  width: 200px;
  height: 60px;
  background: #FFF;
  position: relative;
  border-radius: 200px;
  top: -90px;
  animation: moveclouds 5s linear alternate infinite;
}
.scene:nth-child(6) .scene__img--cloud:before, .scene:nth-child(6) .scene__img--cloud:after {
  content: "";
  background: #FFF;
  position: absolute;
  width: 100px;
  height: 80px;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}
.scene:nth-child(6) .scene__img--cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}
.scene:nth-child(6) .scene__img--table {
  width: 150px;
  position: relative;
  top: 550px;
  left: 30px;
  z-index: 1;
}
.scene:nth-child(6) .scene__img--sandwitch, .scene:nth-child(6) .scene__img--waterbottle {
  position: relative;
  z-index: 3;
  opacity: 0;
  animation: fade-in 1s 6s forwards;
  visibility: hidden;
}
.scene:nth-child(6) .scene__img--sandwitch {
  width: 70px;
}
.scene:nth-child(6) .scene__img--sandwitch:nth-child(1) {
  top: 240px;
  left: 110px;
}
.scene:nth-child(6) .scene__img--sandwitch:nth-child(2) {
  top: 215px;
  left: 40px;
}
.scene:nth-child(6) .scene__img--sandwitch:nth-child(3) {
  top: 190px;
  left: -30px;
}
.scene:nth-child(6) .scene__img--waterbottle {
  width: 30px;
  z-index: 2;
}
.scene:nth-child(6) .scene__img--waterbottle:nth-child(1) {
  top: 170px;
  left: 60px;
}
.scene:nth-child(6) .scene__img--waterbottle:nth-child(2) {
  top: 170px;
  left: 60px;
}
.scene:nth-child(6) .scene__img--waterbottle:nth-child(3) {
  top: 180px;
  left: 10px;
}
.scene:nth-child(6) .scene__img--person1, .scene:nth-child(6) .scene__img--person2 {
  position: relative;
  width: 80px;
  animation: walking 2.5s linear forwards;
}
.scene:nth-child(6) .scene__img--person1 {
  top: 210px;
  left: -120px;
  z-index: 3;
}
.scene:nth-child(6) .scene__img--person2 {
  left: -190px;
  animation-delay: 0.4s;
}
.scene:nth-child(6) .scene__img--car {
  position: relative;
  width: 300px;
  right: 300px;
  bottom: 180px;
  animation: left-right 4s ease-in-out 4s 1 forwards;
  z-index: 3;
}
.scene:nth-child(6) .scene__ground {
  position: relative;
  width: 100%;
  height: 200px;
  top: 170px;
  background-color: #F99D25;
}

/* Scene 7 */

.scene:nth-child(7) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: rgb(189, 219, 230);
  width: 100vw;
  height: 844px;
}

.scene:nth-child(7) .clouds {
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scene:nth-child(7) .article__img--cloud {
  width: 500px;
  position: relative;
  left: 100px;
  z-index: 3;
}

.scene:nth-child(7) .article__img--other--cloud {
  width: 500px;
  position: relative;
  z-index: 3;
}


.scene:nth-child(7) .article__img--tent {
  position: relative;
  z-index: 2;
  width: 230px;
  right: 170px;
  bottom: 120px;
  animation-name: move-down;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
}

.scene:nth-child(7) .article__img--red--cross--person {
  width: 60px;
  position: relative;
  z-index: 2;
  right: 70px;
  bottom: 210px;
  animation-name: move-down;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
}

.scene:nth-child(7) .article__img--table {
  width: 90px;
  position: relative;
  z-index: 2;
  top: 250px;
  left: 20px;
}

.scene:nth-child(7) .sandwiches {
  position: relative;
  width: 100px;
  bottom: 200px;
  left: 25px;
  bottom: 225px;
  z-index: 2;
}

.scene:nth-child(7) .sandwiches .article__img--sandwich {
  width: 50px;
}

.scene:nth-child(7) .bottles {
  position: relative;
  width: 50px;
  height: 0;
  bottom: 200px;
  left: 48px;
  bottom: 410px;
  z-index: 2;
}

.scene:nth-child(7) .bottles .article__img--bottles {
  width: 17px;
}

.scene:nth-child(7) .article__img--person {
  width: 58px;
  position: relative;
  z-index: 2;
  left: 110px;
  top: 140px;
}

.scene:nth-child(7) .article__img--other--person {
  width: 58px;
  position: relative;
  z-index: 2;
  left: 170px;
  top: 40px;
}


.scene:nth-child(7) .ground {
  height: 0;
}

.scene:nth-child(7) .article__div--ground {
  background-color: #f99d25;
  width: 100vw;
  height: 200px;
  position: relative;
  z-index: 1;
  bottom: 200px;
}
/*# sourceMappingURL=styles.css.map */


