@import "reset";
@import "colors";
@import "fonts";
@import "animations";
@import "desktop";



// General
.scene {
  width: 100vw;
  height: 844px;
}

.scene6 {
  height: 844px;
  background-color: $orange;
}


.scene__img--bigcar {
  width: 348px;
  position: relative;
  left: 600px;
  top: 170px;
  animation: rightstopleft 5s;
  z-index: 2;
}

.scene__img--houses {
  width: 300px;
  position: relative;
  z-index: 1;
  left: 45px;
  animation: fade-in 1s 2s forwards, shake 2s ease-in 5s forwards;
  opacity: 0;
  visibility: hidden;
}

.scene__svg--heart {
  fill: red;
  position: relative;
  bottom: 200px;
  left: 10px;
  width: 50px;
  z-index: 3;
  opacity: 0;
  animation: fade-in 2s 8s forwards, beat 1s ease infinite;
  visibility: hidden;
}

@media only screen and (min-width: 400px) {
  .scene6 .scene__img--bigcar {
    left: 1500px;
    top: 60px;
    animation: rightstopleft-desktop 7s;
  }

  .scene6 .scene__img--houses {
    position: relative;
    left: -180px;
    width: 300px;
    animation: fade-in 1s 3.5s forwards, shake 2s ease-in 6.5s forwards;
  }

  .scene__svg--heart {
    bottom: 200px;
    right: 740px;
    width: 50px;
    animation: fade-in 2s 9.5s forwards, beat 1s ease infinite;
  }

}


// Common
.scene {

  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(6),
  .article__rebuild {
    background-color: $orange;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(4),
  .article__rebuild {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:nth-child(1),
  &:nth-child(2) {
    justify-content: center;
  }

  &:nth-child(4),
  &:nth-child(6) {
    justify-content: end;
  }
}

// Scene 1
.scene:nth-child(1) {
  p {
    color: $white;
    font-size: 32px;
    width: 300px;
    text-align: center;
    position: relative;
    bottom: 100px;
    animation: fadeIn 7s;
  }

  .scene__img--logo {
    margin-top: 180px;
    width: 0;
    height: 0;
    animation: grow 2s forwards, move-up 4s forwards;
  }

  .scene__img--car {
    width: 100px;
    position: relative;
    right: -800px;
    animation: right-left 3s ease-in 4s 1 forwards;
    overflow: hidden
  }

  .animation {
    animation: center-right 3s 4s ease-in 1 forwards;
  }
}

.ground--line {
  background-color: $white;
  height: 5px;
  width: 100%;
}

.scene__shake {
  position: relative;
  animation: shake 2s ease-in 1 forwards, center-right 1s 3s ease-in 1 forwards;
  overflow: hidden
}

.scene__shake__img--small {
  width: 60px;
  padding-top: 92px;
}

.scene__shake__img--tall {
  width: 100px;
  margin-left: 20px;
}

// Scene 2
.scene:nth-child(2) {
  background-color: $orange;
  justify-content: flex-start;

  .scene__img--cloud {
    height: 300px;
    margin-top: 50px;
    position: relative;
    z-index: 2;
  }

  .scene__buildings {
    position: relative;
    left: 160px;
    bottom: 210px;
    z-index: 1;
  }

  .scene__building__img--small,
  .scene__building__img--tall {
    animation: move-down 3s ease-in forwards;
  }

  .scene__building__img--small {
    width: 40px;
  }

  .scene__building__img--tall {
    width: 60px;
    margin-left: 20px;
  }
}

/* Scene 6 */
.scene:nth-child(6) {
  animation: bgChange 20s 1 forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scene:nth-child(6) .scene__img--sun {
  background: $sun;
  box-shadow: 0px 0px 30px 15px $sun;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 200px;
  animation: pulse 2s infinite, sunRising 12s ease-out forwards;
  transition: background-color 5s;
}

.scene:nth-child(6) .scene__img--cloud {
  width: 200px;
  height: 60px;
  background: #FFF;
  bottom: 200px;
  position: relative;
  border-radius: 200px;
  animation: moveclouds 7s linear alternate infinite;
}

.scene:nth-child(6) .scene__img--cloud:before,
.scene:nth-child(6) .scene__img--cloud:after {
  content: "";
  background: #FFF;
  position: absolute;
  width: 100px;
  height: 80px;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.scene:nth-child(6) .scene__img--cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.scene:nth-child(6) .scene__img--table {
  width: 150px;
  position: relative;
  top: 310px;
  left: 40px;
  z-index: 1;
}

.scene:nth-child(6) .scene__img--sandwitch,
.scene:nth-child(6) .scene__img--waterbottle {
  position: relative;
  z-index: 3;
  opacity: 0;
  animation: fade-in 1s 13s forwards;
  visibility: hidden;
}

.scene:nth-child(6) .scene__img--sandwitch {
  width: 70px;
}

.scene:nth-child(6) .scene__img--sandwitch:nth-child(1) {
  left: 120px;
  top: 190px;
}

.scene:nth-child(6) .scene__img--sandwitch:nth-child(2) {
  top: 165px;
  left: 60px;
}

.scene:nth-child(6) .scene__img--sandwitch:nth-child(3) {
  right: 20px;
  top: 140px;
}

.scene:nth-child(6) .scene__img--waterbottle {
  width: 30px;
  z-index: 2;
}

.scene:nth-child(6) .scene__img--waterbottle:nth-child(1) {
  left: 50px;
  top: 120px;
}

.scene:nth-child(6) .scene__img--waterbottle:nth-child(2) {
  top: 120px;
  left: 60px;
}

.scene:nth-child(6) .scene__img--waterbottle:nth-child(3) {
  top: 130px;
  left: 10px;
}

.scene:nth-child(6) .scene__img--person1,
.scene:nth-child(6) .scene__img--person2 {
  position: relative;
  width: 80px;
  animation: walking1 4s linear forwards;
}

.scene:nth-child(6) .scene__img--person1 {
  top: 100px;
  animation-delay: 6s;
  z-index: 3;
  left: -610px;
}

.scene:nth-child(6) .scene__img--person2 {
  top: 80px;
  animation-delay: 6.4s;
  z-index: 2;
  left: -770px;
}

.scene:nth-child(6) .scene__img--car {
  position: relative;
  width: 300px;
  left: -1000px;
  bottom: 100px;
  animation: left-right 5s ease-in-out 10s 1 forwards;
  z-index: 3;
}

@media only screen and (min-width: 400px) {
  .scene:nth-child(6) .scene__img--car {
    top: 30px;
    animation: left-right-desktop 6s ease-in-out 10s 1 forwards;
  }
}

.scene:nth-child(6) .scene__ground {
  position: relative;
  height: 150px;
  width: 100%;
  top: 700px;
  background-color: $orange;
  z-index: 1;
}

/* Scene 7 */
.scene:nth-child(7) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: $sky;
  width: 100vw;
  height: 844px;
}

.scene:nth-child(7) .clouds {
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scene:nth-child(7) .article__img--cloud {
  width: 350px;
  position: relative;
  top: 200px;
  right: 40px;
  z-index: 3;
  animation: moveclouds2 4s linear alternate infinite;
}

.scene:nth-child(7) .article__img--other--cloud {
  width: 350px;
  position: relative;
  top: 180px;
  right: 170px;
  z-index: 3;
  animation: moveclouds2 4s linear alternate-reverse infinite;
}

.scene:nth-child(7) .article__img--tent {
  position: relative;
  z-index: 2;
  width: 230px;
  right: 170px;
  bottom: 20px;
  animation-name: move-down;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
}

.scene:nth-child(7) .article__img--red--cross--person {
  width: 60px;
  position: relative;
  z-index: 2;
  right: 70px;
  bottom: 100px;
  animation-name: move-down;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
}

.scene:nth-child(7) .article__img--table {
  width: 110px;
  position: relative;
  z-index: 2;
  top: 350px;
  left: 20px;
}

.scene:nth-child(7) .sandwiches {
  position: relative;
  width: 80px;
  bottom: 140px;
  left: 20px;
  z-index: 2;
}

.scene:nth-child(7) .sandwiches .article__img--sandwich {
  width: 50px;
}

.scene:nth-child(7) .bottles {
  position: relative;
  width: 50px;
  height: 0;
  bottom: 320px;
  left: 48px;
  z-index: 2;
}

.scene:nth-child(7) .bottles .article__img--bottles {
  width: 17px;
}

.scene:nth-child(7) .article__img--person {
  width: 58px;
  position: relative;
  z-index: 2;
  left: 110px;
  top: 250px;
}

.scene:nth-child(7) .article__img--other--person {
  width: 58px;
  position: relative;
  z-index: 2;
  left: 170px;
  top: 150px;
}

.scene:nth-child(7) .article__div--ground {
  background-color: $orange;
  width: 100vw;
  height: 100px;
  z-index: 1;
}

.scene:nth-child(7) .ground {
  display: flex;
  align-items: flex-end;
  height: 0;
}

/* Last scene */
.scene:nth-child(8) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $orange;
  color: $white;
  font-family: $primary-font;
}

/* Last scene */
.scene:nth-child(9) .scene__img--logo {
  width: 400px;
  width: 0;
  height: 0;
  animation: grow 5s forwards, alt-move 3s forwards;
}

.scene:nth-child(9) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $orange;
  color: $white;
  font-family: "Arimo", sans-serif;
}

.scene:nth-child(9) p {
  margin-bottom: 100px;
  color: $white;
  font-size: 32px;
  width: 300px;
  text-align: center;
  position: relative;
  animation: fadeIn 7s;
}